<h2>Sign up</h2>
<hr class="ui section divider" />
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  
    <%= f.label :first_name %><br />
    <div class="field ui mini input">
    <%= f.text_field :first_name%>
    </div>
   <br />
   <br />
    <%= f.label :last_name %><br />
    <div class="field ui mini input">
    <%= f.text_field :last_name%>
  </div>
 <br />
  <br />
    <%= f.label :email %><br />
    <div class="field ui small input">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
 <br />
  <br />
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <div class="field ui mini input">
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
 <br />
 <br />
    <%= f.label :password_confirmation %><br />
    <div class="field ui mini input">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <br />
  <br />
  <div class="actions">
    <button class="ui teal button inverted">Sign Up</button>
  </div>
<% end %>
<%= render "devise/shared/links" , class: 'link'%>
